a {
  text-decoration: none !important;
  /* font-size: 17em; */
}

footer p {
  text-decoration: none;
  /*  font-size: 17em; */
}

footer b :hover {
  color: darkorange !important;
}

footer a:hover {
  color: darkorange !important;
}

footer i {
  font-size: 1.5em;
}

.bi-bi-film {
  color: red;
}
